project:
    name: vonage-video-backend-server
instance:
    name: dev
    runtime: nodejs18
    region: aws.use1
    build-script: ./install.sh
    entrypoint:
        - npm
        - start

debug:
    entrypoint:
        - npm
        - start