doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Learning Vonage Video Node SDK
  style.
    p, td {
    font-family: Arial;
    }
    td:first-child {
    font-family: Consolas, Courier, monospace;
    padding-right: 20px
    }
    tr {
    border: 1px solid black
    }
  body
    p
      | This is a sample web service for use with Vonage Video Node SDK. See the Vonage 
      a(href='https://github.com/opentok/learning-opentok-node')
        | learning-opentok-node
      |  repo on GitHub.
    p
      | Resources are defined at the following endpoints:
      table
        tr
          td GET /session
          td Return an Application ID, session ID, and token.
        tr
          td GET /room/:name 
          td Return an Application ID, session ID, and token associated with a room name.
        tr
          td POST /archive/start
          td Start an archive for the specified Vonage Video session.
        tr
          td POST /archive/:archiveId/stop
          td Stop the specified archive.
        tr
          td GET /archive/:archiveId/view
          td View the specified archive.
        tr
          td GET /archive/:archiveId
          td Return metadata for the specified archive.
        tr
          td GET /archive
          td Return a list of archives. 
            a(href='https://developer.vonage.com/video/guides/archiving/overview') More Information
          td Optional filter parameters are sessionId, count, and/or offset.
